*{
    margin: auto;
    text-align: center;
}
  
body {
    background-color: black;
    color:white;
}
  
.timer{
    display: inline-block;
    width: 40px;
    height: 50px;
    background-color: black;
    color:white;
}

/* table{
    display: inline-block;
    background-color: rgba(6, 246, 86, 0.774);
    border-radius: 45%;
    border: 40px solid rgba(246, 190, 6, 40%);
    margin: auto;
    text-align: center;
} */


.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 1.2em;
    border-style: solid;
    border-width: 2px;
    border-color: teal;
    background-color: rgba(9, 80, 221, 0.972);
}

.isShown {
    background-color: rgba(125, 185, 28, 0.972);
}